# Email Configuration (required for email functionality)
EMAIL_USER=navindyadenipitiya@gmail.com
EMAIL_PASS=mhki flpu ltqi mkjy
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SECURE=false



# Debug mode (optional)
DEBUG=false
